img {
	border: 0px;
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

th {
	color: #ffffff;
	background-color: #333333;
}

/*
p {
	text-indent: 1em;
}
*/

a{
	color: #0000ff;
}

a:hover{
	color: #000080;
	text-decoration: underline;
}

p.menu {
	width: 100%;
	color: #333333;
	background: linear-gradient(to bottom, #555555, #222222);
}

p.menu a {
	color: white;
	background: linear-gradient(to bottom, #555555, #222222);
	text-decoration: none;
}

p.menu a:hover {
	color: #000000;
	background: linear-gradient(to bottom, #AAAAAA, #EEEEEE);
}

table.header {
	width: 100%;
}
